body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.container {
  background: #c0dbd9;
  width: 1170px;
  height: 1000px;
  padding: 0px 15px 0px 15px;
}
.header {
  background: #7faff6;
  height: 100px;
}
.header__button {
  width: 208px;
  height: 39px;
  margin-top: 30.5px;
  margin-left: 30px;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  background: #a5c7f9;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
  color: #ffffff;
}
.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: relative;
}
.header__button:hover + .popup {
  visibility: visible;
  opacity: 1;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background: white;
}
.popup:target {
  visibility: visible;
}
.popup p {
  font-size: 53px;
  font-weight: 400;
  line-height: 62.11px;
  text-align: left;
  color: black;
  margin: 0;
}
.popup button {
  position: absolute;
  border: none;
  background: #7faff6;
  border-radius: 5px;
  width: 43px;
  height: 39px;
  top: 15px;
  right: 15px;
}
.green {
  height: 411px;
  background: #b3f95a;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.dark-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8ad191;
  height: 198px;
  color: white;
  font-size: 53px;
  font-weight: 400;
  line-height: 62.11px;
  text-align: left;
}
.dark-green-first::before {
  content: "1";
}
.dark-green-second::before {
  content: "2";
}
.dark-green-third::before {
  content: "3";
}
.dark-green-fourth::before {
  content: "4";
}
.dark-green-fifth::before {
  content: "5";
}
/* .blue {
  display: flex;
  height: 199px;
  background: #88b5bf;
  padding: 30px;
  gap: 30px;
}
.drak-blue {
  background: #0d89b0;
  width: 40%;
  height: 100%;
} */
.blue {
  height: 259px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #88b5bf;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}
.dark-blue {
  background: #0d89b0;
  width: 40%;
  height: 80%;
}
.footer {
  background: #7faff6;
  height: 100px;
  margin-top: 100px;
}
